
<!--  <div> 
   <div class="col-md-4 ">
   <div class="panel panel-primary" data-ng-repeat="allavilableCourse in AllavilableCourses"  data-ng-click="goToCoursePage(id)" id="tr-{{x.id}}">
 
    <h4><b>{{allavilableCourse.name}}</b></h4> 
    <p>{{allavilableCourse.instructor.firstname}}</p> 
     <img src="image/oracle.jpg" alt="Avatar" >
  </div>
</div>

</div>
 -->

 <div class="col-md-4" float="center"> 
<div class="card"  data-ng-repeat="allavilableCourse in AllavilableCourses" >
   
  <div class="container">
     <h4><b>{{allavilableCourse.name}}</b></h4> 
      <p>{{allavilableCourse.instructor.firstname}}</p> 
    
  </div>
</div>
</div> 

